@import "../../css/base.scss";
.panel-header{
  @include attr-panel-header;
  .icon-panel-header{
    position: absolute;
    right: 20px;
    font-size: 20px;
    cursor: pointer;
  }
  .fold{
    animation: to-fold 0.5s;
    transform: rotate(0.25turn);
  }
  .unfold{
    animation: to-unfold 0.5s;
    transform: rotate(0);
  }
}
@keyframes to-fold {
  0%   {transform: rotate(0);}
  100% {transform: rotate(0.25turn);}
}
@keyframes to-unfold {
  0%   {transform: rotate(0.25turn);}
  100% {transform: rotate(0);}
}
.panel-body{
  min-height: 80px;
  background: rgba(209, 222, 239, 0.1);
  .input-group {
    @include to-flex(column);
    height: 100%;
    align-items: center;
    .input-form {
      margin-top: 10px;
      label {
        display: inline-block;
        width: 30px;
        margin: 0 5px;
        text-align: center;
        color: rgb(52, 73, 94);
      }
      .attr-input {
        @include attr-input;
      }
    }
    &:last-child {
      margin-bottom: 10px;
    }
  }
}
